.container
  .top_fixed1
    = render 'common/top'
  .top_fixed2
    = link_to new_article_path do
      .post_camera
        = icon("fa-solid", "camera", class: 'icon_l')
    - if user_signed_in?
      .profile_user
        = icon("fa-regular", "user", class: 'icon_l')
    - else
      .login
        = link_to new_user_session_path do
          .loginbtn
            = icon("fa-regular", "user", class: 'icon_l')

  .position_fix1
    - @articles.each do |article|
      .card
        .card_top
          .card_detail
            = image_tag 'photoexample.jpg'
            %div
              %p.name Jmax_21
              %p.posttime 
                = I18n.l(article.created_at, format: :default)
          - if user_signed_in?
            .editdelete
              .edit_link
                = link_to edit_article_path(article) do
                  = icon("fa-regular", "pen-to-square", class: 'icon_l')
              .delete_link
                = link_to article_path(article), data:{ method: 'delete', confirm: 'Are you sure you want to delete？'} do
                  = icon("fa-solid", "trash-can", class: 'icon_l')
        .card_image
          = image_tag 'ocean.jpg'
        .card_hcs
          .card_heart
            = icon("fa-regular", "heart", class: 'icon')
          .card_comment
            = icon("fa-regular", "comment", class: 'icon')
          .card_share
            = icon("fa-solid", "share-nodes", class: 'icon')
        .card_content
          %p.card_content1 Jasmine and 12,000 other liked your post
          .card_content2
            %p.name Jmax_21
            %p.content
              = article.content